$color-green: green;
$color-red: red;
$color-gray: gray;
$color-yellow: yellow;
$color-selected: $color-yellow;
$color-correct: $color-green;
$color-error: $color-red;
$color-dark: #333;

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
